<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:task="http://www.springframework.org/schema/task" 
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-3.0.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-2.5.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/transports/http/configuration    
    http://cxf.apache.org/schemas/configuration/http-conf.xsd">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616" /> <!-- 查看MQ队列情况 url: http://127.0.0.1:8161/admin/queues.jsp -->
        <property name="userName" value="admin" />
        <property name="password" value="admin" />
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>

    <bean id="mqQueueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="contract_system_queue" />
    </bean>
    
    <bean id="mqTopicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <!-- 设置消息队列的名字 -->
        <constructor-arg index="0" value="STATUS" />
    </bean>

    <bean id="MessageSenderBean" class="com.cd.zhc.activeMq.sender.MessageSender">
        <constructor-arg name="template">
            <ref bean="jmsTemplate" />
        </constructor-arg>
        <constructor-arg name="destination">
            <!-- <ref bean="mqTopicDestination" /> -->
            <ref bean="mqQueueDestination" />  
        </constructor-arg>
    </bean>

    <bean id="MessageReceiverBean" class="com.cd.zhc.activeMq.receiver.MessageReceiver">
        <constructor-arg name="template">
            <ref bean="jmsTemplate" />
        </constructor-arg>
        <constructor-arg name="destination">
            <!-- <ref bean="mqTopicDestination" />  -->
            <ref bean="mqQueueDestination" />           
        </constructor-arg>
    </bean>  
    
    

</beans>